.idea/
idea/
/idea/
/.idea
/.venv
/.venv/
/.ipynb_checkpoints/
/target_encoding.py
/TargetEncode.py
/test1.csv
/Untitled4.ipynb
/Untitled5.ipynb
/models/automl.ipynb
/models/model.py
/models/model2.py
/models/model4.py
/models/model5.py
/optimizations/optimization_lightgbm_draft.py
/optimizations/optimization_lightgbm_optuna_draft.py
/submissions/submission1.csv
/submissions/submission2.csv
__pycache__/
/__pycache__/
